 /* tuscany 23 63 45 */

html {
   background: hsl(0, 0%, 100%);
   font-size: 1em;
}

body {
   margin: 0;
   font-family: serif;
   height: 100vh;
   color: hsla(0, 0%, 0%, 1);
}

img {
   display: block;
}

h1, h2, h3, h4, h5, h6 {
   text-align: center;
   margin: 0;
}

h1 {
   font-size: 2rem;
}

a {
   color: #C1D7E4;
   /* text-decoration: none; */
}

a:visited {
   color: #C1D7E4;
}

a:hover {
   cursor: pointer;
   color: #345162;
}

header {
   background-color: hsl(0, 0%, 0%);
   color: hsl(0, 100%, 39%);
   display: flex;
   align-items: center;
   padding: 20px;
}

.logo {
   margin-right: auto;
}

.new-timer-btn {
   margin-left: auto;
}

.hidden {
   display: none;
}

.section-center {
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: flex-start;
   height: 100vh;
   margin: 0 auto;
}

.section {
   margin: 2em 0;
}

.dates * {
   margin: 0;
}

.dates > * + * {
   margin-top: 0.5em;
}

.timer-time {
   display: flex;
   justify-content: center;
}

.timer-time > * + * {
   margin-left: 20px;
}

.timer-2 {
   text-align: center;
   margin-top: 2em;
}

.timer > * + * {
   margin-top: 20px;
}

.time {
   background: hsl(200, 71%, 41%);
   border-radius: 7px;
   padding: 0.3em 1.375em 0;
   text-align: center;
   width: 3em;
}

.number {
   font-family: 'Merriweather', serif;
   font-size: 2rem;
   margin: 0;
}

.label {
}

@media (min-width: 1025px) {
   html {
      font-size: 18px;
   }

   .section-center {
      max-width: 1200px;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;

   }
   .description {
      padding: 0 25px;
   }
   .vacation-img {
      display: block;
   }
}
